{% extends 'base.html' %}

{% block content %}



<div class="container mt-4 text-center">



    <div class="row justify-content-center">
        <div class="col-md-8">
            <table class="table table-bordered  text-center align-middle ">
                <thead class="custom-thead">
                    <tr>
                        <th>Nom</th>
                        <th>N° Astreinte</th>
                        <th>N° Pro</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td colspan="3" class="section-header">
                            Permanence de direction <br>
                            du 18/06/25 à 12:00 au 25/06/25 à 12:00
                        </td>
                    </tr>
                    <tr>
                        <td>Agent 1</td>
                        <td>06 92 45 78 12</td>
                        <td>06 93 12 56 87</td>
                    </tr>
                    <tr>
                        <td>Agent 2</td>
                        <td>06 92 65 18 12</td>
                        <td>06 92 11 56 97</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="section-header">
                            CADRE D’ASTREINTE RÉSEAU (CARES) <br>
                            du 18/06/2025 à 12:00 au 25/06/2025 à 12:00
                        </td>
                    </tr>
                    <tr>
                        <td>Agent 3</td>
                        <td>06 93 15 28 92</td>
                        <td>06 93 22 66 97</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="section-header">
                            CADRE D’ASTREINTE SYSTÈME (CASYS) <br>
                            du 18/06/2025 à 12:00 au 25/06/2025 à 12:00
                        </td>
                    </tr>
                    <tr>
                        <td>Agent 4</td>
                        <td>06 92 78 45 33</td>
                        <td>06 93 99 11 44</td>
                    </tr>
                    <tr>
                        <td>Agent 5</td>
                        <td>06 93 14 67 20</td>
                        <td>06 92 66 89 01</td>
                    </tr>
                    <tr>
                        <td>Agent 6</td>
                        <td>06 92 31 72 10</td>
                        <td>06 93 55 61 27</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="section-header">
                            INFRASTRUCTURES SI & TÉLÉCOM <br>
                            du 18/06/2025 à 12:00 au 25/06/2025 à 12:00
                        </td>
                    </tr>
                    <tr>
                        <td>Agent 7</td>
                        <td>06 93 28 99 74</td>
                        <td>06 92 47 65 22</td>
                    </tr>
                    <tr>
                        <td>Agent 8</td>
                        <td>06 92 64 78 55</td>
                        <td>06 93 23 84 10</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="section-header">
                            SERVICE PRODUCTION <br>
                            du 19/06/2025 à 12:30 au 26/06/2025 à 12:30
                        </td>
                    </tr>
                    <tr>
                        <td>Agent 9</td>
                        <td>06 92 17 28 64</td>
                        <td>06 93 38 99 52</td>
                    </tr>
                    <tr>
                        <td>Agent 10</td>
                        <td>06 93 81 25 47</td>
                        <td>06 92 54 61 90</td>
                    </tr>
                    <tr>
                        <td>Agent 11</td>
                        <td>06 93 14 75 63</td>
                        <td>06 92 33 86 10</td>
                    </tr>
                    <tr>
                        <td>Agent 12</td>
                        <td>06 92 12 47 89</td>
                        <td>06 93 41 27 85</td>
                    </tr>
                    <tr>
                        <td>Agent 13</td>
                        <td>06 93 66 39 21</td>
                        <td>06 92 22 94 70</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>


</div>



{% endblock %}
{% block script %}
<script src="{{ url_for('main.static', filename='js/index.js') }}"></script>
{% endblock %}